main {
  width: 50vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px auto;
  box-shadow: 0.2px 0.2px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background-color: black;

  .title {
    font-size: 36px;
    font-family: monospace;
    color: white;
  }
}
